{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "style.css"%}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>
    <style>
    .jumbotron{
        position:absolute;
        left:300px;
        right:300px;

    }
    </style>
  </head>
  <body id="bg">
  <center>
    <div class="container">
      <div class="jumbotron" style="background-color:#E55451">
        <div class="row">
          <div class="col-md-12">
            <b>
              <h1>Thanks for Shopping with us!</h1>
              <h3>Your order has been placed succesfuly and you'll be able to recieve it within 5 working days.</h3>
              <marquee direction="left"><h1>Please Visit Again!!!!!</h1></marquee>
            </b>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
